{% extends 'base.html' %}
{% block content %}
     <div align="center" style="margin-top:20%">
         <h1>Welcome to my website. Feel free to look around!</h1>
         <h3>If you have ideas how to improve this website please submit a request</h3>
         <a href="{{ url_for('request_feature') }}">
             <button class="btn btn-secondary" type="submit">Submit request</button>
         </a>
     </div>

    <div class="snowflakes" aria-hidden="true">
        <div class="snowflake">❅</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❄</div>
    </div>
{% endblock %}

